<!DOCTYPE html>
<html>
<head>
	<title>Basic HTML</title>
		<link rel="icon" href="img/miko.jpg">
		<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>


<div id="first">Enter First Number: 

<input type="text" id="fn">
</div>



<div id="second">Enter Second Number: 
<input type="text" id="sn">
</div>



<div> Sum is <span id="answer"></span></div>

<button onclick="addMe()"> Click Me</button>



<script type="text/javascript" src="js/index.js">




</script>

	<h1><a href="/Home">Home</a></h1> 
	<h1><a href="/about">About</a></h1>
</body>
</html>